.Ordertable, th,td{
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 5px;
}
td{
    background-color: rgba(64, 241, 158, 0.219);

}
th{
    background-color: rgba(64, 241, 158, 0.514);
    height: 45px;
}
.Ordertable{
    margin: auto;
    width: 80%;
    background: #f3f3f3;
}
button{
    float: right;
    margin-right: 0%;
    background-color: aquamarine;
    width: 150px;
    height:40px;
    border-radius: 5px;
    border: 1px;
    margin-right: 80px;
}
button:first-of-type{
    background-color: coral;
}

/* Set a style for the send/cancel button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  width: 80px;
  height:40px;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  border-radius: 4px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  }